
@{
    ViewData["Title"] = "Guest";
}


<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>PizzaBox</h1>
        <br>
        <br>
    </div>



    <div class="text-center">

        <form action="/Home/Menu">
            <input type="submit" value="Menu" />
        </form>

        <form action="/LocationInfo">
            <input type="submit" value="Locations" />
        </form>
    </div>



</body>

</html>