@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>PizzaBox</h1>
    </div>

    <form action="/action_page.php">
        Email:<br>
        <input type="text" name="email"><br><br>

        Password:<br>
        <input type="text" name="password"><br><br>

        <input type="submit" value="Submit">

        <!-- <button type="button" onclick="alert('Welcome!')">SING UP</button> -->
    </form>

    <form action="file:///C:\Users\emman\Desktop\Lectures Notes\Week 03 - MVC - HTML and CSS\HTML_first_try">
        <input type="submit" value="New user" />
    </form>

    <form action="file:///C:\Users\emman\Desktop\Lectures Notes\Week 03 - MVC - HTML and CSS\HTML_first_try">
        <input type="submit" value="LogIn as Guest" />
    </form>


    <!-- <p>Hello. Do you want to visit <a href="http://www.google.com" title="Some say it's a search engine">Google</a> ?</p> -->

</body>

</html>