
@{
    ViewData["Title"] = "NewUser";
}

<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>PizzaBox</h1>
    </div>

    <form action="/action_page.php">
        Email:<br>
        <input type="text" name="firstname"><br><br>

        <input type="submit" value="Submit">

    </form>

</body>

</html>