
@{
    ViewData["Title"] = "Order";
}

<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">New Order</h1>
        <h1>PizzaBox</h1>
        <br>
        <br>
    </div>

    <h2 class="display-4">Size</h2>
    <input type="radio" name="size" value="small"> small $8.99 <br>
    <input type="radio" name="size" value="medium"> medium $10.99 <br>
    <input type="radio" name="size" value="large"> large $12.99 <br>

    <br>
    <br>

    <h2 class="display-4">Crust</h2>
    <input type="radio" name="crust" value="regular"> regular <br>
    <input type="radio" name="crust" value="thin"> thin <br>
    <input type="radio" name="crust" value="garlic"> garlic $1.00 <br>


    <br>
    <br>

    <h2 class="display-4">Topping(s)     [$1.00/each]</h2>
    <select>
        <option value="none">---</option>
        <option value="extracheese">extra cheese</option>
        <option value="pepperoni">pepperoni</option>
        <option value="bacon">bacon</option>
        <option value="onion">onion</option>
        <option value="bellpepper">bell pepper</option>
    </select>
    <br>
    <select>
        <option value="none">---</option>
        <option value="extracheese">extra cheese</option>
        <option value="pepperoni">pepperoni</option>
        <option value="bacon">bacon</option>
        <option value="onion">onion</option>
        <option value="bellpepper">bell pepper</option>
    </select>
    <br>
    <select>
        <option value="none">---</option>
        <option value="extracheese">extra cheese</option>
        <option value="pepperoni">pepperoni</option>
        <option value="bacon">bacon</option>
        <option value="onion">onion</option>
        <option value="bellpepper">bell pepper</option>
    </select>
    <br>
    <select>
        <option value="none">---</option>
        <option value="extracheese">extra cheese</option>
        <option value="pepperoni">pepperoni</option>
        <option value="bacon">bacon</option>
        <option value="onion">onion</option>
        <option value="bellpepper">bell pepper</option>
    </select>
    <br>
    <select>
        <option value="none">---</option>
        <option value="extracheese">extra cheese</option>
        <option value="pepperoni">pepperoni</option>
        <option value="bacon">bacon</option>
        <option value="onion">onion</option>
        <option value="bellpepper">bell pepper</option>
    </select>

    <br>
    <br>
    <br>
    <h2 class="display-4">Quantity</h2>
    <input type="number" name="qty" value="quantity" min="1" max="100"> <br>

    <br>
    <br>
    <br>

    <h2 class="display-4">Total</h2>
    <input type="text" name="totalP" placeholder="$#####.##" /> <br>

    <br>
    <br>
    <br>

    <form action="/Home/MainMenu">
        <input type="submit" value="Drop Pizza" />
    </form>

    <br>
    <br>

    <form action="/Home/Cart">
        <input type="submit" value="Add to Cart" />
    </form>



</body>

</html>
