
@{
    ViewData["Title"] = "Offers";
}

<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Special Offers</h1>
        <h1>PizzaBox</h1>
        <br>
        <br>
    </div>

    <br>
    <br>
    <br>
    <input type="checkbox" name="offer01" value="2lar"> 2 large pizzas, regular crust, with up to two toppings each for $23.99<br>
    <br>
    <input type="checkbox" name="offer02" value="1sm1lar"> 1 large cheese pizza, regular crust; and 1 medium pizza, regular crust, with up to two toppings for $19.99<br>
    <br>
    <input type="checkbox" name="offer03" value="4mid"> 4 medium pizzas, regular crust, with up to 1 topping each for $29.99<br>
    <br>
    <br>
    <br>


    <form action="/Orders/SelectLocation">
        <input type="submit" value="Go Back" />
    </form>

    <br>
    <br>



    <form action="/Orders/Cart">
        <input type="submit" value="Add to Cart" />
    </form>



</body>

</html>

