
@{
    ViewData["Title"] = "Select Location";
}


<div class="text-center">
    <h1 class="display-4">Select Location</h1>
    <h1>PizzaBox</h1>
    <br>
    <br>
</div>



<br>
<br>
<br>

<h2 class="display-4">Restaurant</h2>
<select>
    <option value="none">---</option>
    <option value="loct01">PizzaBox #1 | 753 Big Spring St Suit A | Arlington, TX 76004</option>
    <option value="loct02">PizzaBox at Legacy | 348 Legacy | Arlington, TX 76006</option>
    <option value="loct03">PizzaBox at Stadium Plaza | 459 Midland Dr Lot 05 | Arlignton, TX 76001</option>
</select>

<br>
<br>
<br>



<form action="/Orders/CustomePizza">
    <input type="submit" value="Make Custome Pizza" />
</form>


<form action="/Orders/Offers">
    <input type="submit" value="Special Offers" />
</form>

<br>
<br>
<br>


<form action="/Menus/UserMainMenu">
    <input type="submit" value="Main Menu" />
</form>

<br>
<br>