
@{
    ViewData["Title"] = "Account Confirmation";
}

<h1>Account Created</h1>
<p> Check your email to confirm your account. </p>
<p> To be able to sing-in you need to confirm your account first. </p>
<p> If within 24 hours you do not confirm your account it will be deleted. </p>
<br>
<br>

<a asp-action="Index">Exit</a>
