
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Order submitted</h1>

<p>will be ready in ... 20 minutes </p>

<p>Confirmation: 47B32C </p>



<div class="text-center">

    <form action="/Home/MainMenu">
        <input type="submit" value="Main Menu" />
    </form>
</div>