
@{
    ViewData["Title"] = "History";
}

<h1>History</h1>



<br>
<br>
<br>

<div class="text-center">

    <form action="/Home/MainMenu">
        <input type="submit" value="Main Menu" />
    </form>
</div>