@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>PizzaBox</h1>
    </div>

    <form action="/Home/ComingSoon" method="post">
        Email:<br> <input type="email" id="email" name="email" required><br><br>
        Password:<br> <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">



    </form>



    <form action="/Home/NewUser">
        <input type="submit" value="New user" />
    </form>

    <form action="/Home/Guest">
        <input type="submit" value="LogIn as Guest" />
    </form>


    <div class="text-center">

        <form action="/Home/MainMenu">
            <input type="submit" value="Main Menu" style="background-color: aqua"/>
        </form>
        </div>


</body>

</html>