
@{
    ViewData["Title"] = "New account";
}

<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Create account</h1>
        <h1>PizzaBox</h1>
    </div>

    <form action="/Home/ComingSoon">
        Email:<br>
        <input type="email" name="email" required><br><br>

        <input type="submit" value="Check availability">

    </form>

    <div class="text-center">
        <form action="/Home/UserInfo">
            <input type="submit" value="Personal Info" style="background-color: aqua"/>
        </form>
     </div>


</body>

</html>