
@{
    ViewData["Title"] = "Settings";
}


<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>PizzaBox</h1>
        <br>
        <br>
    </div>



    <div class="text-center">

        <form action="/Home/ComingSoon">
            <input type="submit" value="Account and Security" />
        </form>

        <form action="/Home/ComingSoon">
            <input type="submit" value="Add/Remove Address" />
        </form>

        <form action="/Home/ComingSoon">
            <input type="submit" value="Add/Remove Credit Card" />
        </form>

        <form action="/Home">
            <input type="submit" value="Delete Account" />
        </form>

        <br>
        <br>
        <br>

        <div class="text-center">

            <form action="/Home/MainMenu">
                <input type="submit" value="Main Menu" />
            </form>
        </div>

    </div>



</body>

</html>
