
@{
    ViewData["Title"] = "Guest Main Menu";
}


<!DOCTYPE html>
<html>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h1>PizzaBox</h1>
        <br>
        <br>
    </div>



    <div class="text-center">

        <form action="/Menus/GuestRestaurantMenu">
            <input type="submit" value="Restaurant Menu" />
        </form>

        <form action="/Menus/GuestLocationsList">
            <input type="submit" value="Locations" />
        </form>
    </div>



</body>

</html>